:root{
    --midnight-blue:#101356;
}
.nn-lang{
    position:absolute;
    top:0px;
    right:0px;
    color:azure;
}

#grad1 {
    
    background-color: black; /* For browsers that do not support gradients */
    background-image: linear-gradient(to left, #0d171e, #4973f2);
    color:azure;
  }

.nn-search{
    position:absolute;
    bottom:12px;
    right: 35px;
    color:azure;
}
.nn-header{
    position: relative;
}
#menu{
    background-color: #223747 !important ;
    background-image: linear-gradient(to right, #0d171e, #4973f2);
}

#product-size{
    float: right;
}
/* .card-footer-unitPrice{
    float: left !important;
} */
.card-footer-btn{
    float: right !important;
}

.nn-item{
    height: 150px;
    max-width: 98%;
}

.paging-card-action{
    float: left !important;
    
}
.paging-card-info{
    float: right !important;
}
.card-footer-paging{
    background-image: linear-gradient(to top right,#0d171e, #4973f2);
    display: inline-block;
    color: #9b9da3;
    background-color: #0d171e;
    max-width: 100%;
    border: 0;
}
.btn-cart-add{
    background-color: #101356 !important;
}

.product-detail ul li{
    line-height: 40px;
   
    border-bottom: dotted ;
    
}

.product-detail img {
    height: 300px;
    max-width: 100%;
}
.card-thumb img{
    width: 80px;
    height: 80px;
    margin: 5px;
    border: #0d171e;
    border-radius: 3px;
    box-shadow: 0 0 5px gray;
}

.card-thumb img:hover{
    box-shadow: 0 0 7px #2475b4;
}