<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	th:replace="~{/shared/layout::dynamic(~{::view})}">
	<main th:fragment="view">
		<i th:text="${message}"></i>
		<form action="/account/change-password" method="post">
	        <div class="mb-3 mt-3">
	            <label>Username:</label>
	            <input name="username" class="form-control">
	        </div>
	        <div class="mb-3 mt-3">
	            <label>Current Password:</label>
	            <input name="password" class="form-control">
	        </div>
	        <div class="mb-3 mt-3">
	            <label>New Password:</label>
	            <input name="newpass" class="form-control">
	        </div>
	        <div class="mb-3 mt-3">
	            <label>Confirm New Password:</label>
	            <input name="confirm" class="form-control">
	        </div>
	        <button class="btn btn-primary">Change Password</button>
        </form>
	</main>
</html>