<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/shared/layout::dynamic(~{::view})}">
<main th:fragment="view">
	<i th:text="${message}"></i>
    <form th:object="${user}" action="/account/edit-profile" method="post" enctype="multipart/form-data">
        <div class="mb-3 mt-3">
            <label>Username:</label>
            <input th:field="*{username}" class="form-control">
        </div>
        <div class="mb-3 mt-3">
            <label>Fullname:</label>
            <input th:field="*{fullname}" class="form-control">
        </div>
        <div class="mb-3 mt-3">
            <label>Photo:</label>
            <input type="file" name="photo_file" class="form-control">
            <input type="hidden" th:field="*{photo}">
        </div>
        <div class="mb-3 mt-3">
            <label>Email:</label>
            <input th:field="*{email}" class="form-control">
        </div>
        <input th:field="*{password}" type="hidden">
        <button class="btn btn-primary">Update Profile</button>
    </form>
</main>

</html>