<div xmlns:th="http://www.thymeleaf.org">
    <div class="card mb-3">
        <div class="card-header">Header</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">First item</a>
            <a href="#" class="list-group-item list-group-item-action">Second item</a>
            <a href="#" class="list-group-item list-group-item-action">Third item</a>
          </div>
        <div class="card-footer">Footer</div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Header</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">First item</a>
            <a href="#" class="list-group-item list-group-item-action">Second item</a>
            <a href="#" class="list-group-item list-group-item-action">Third item</a>
          </div>
        <div class="card-footer">Footer</div>
      </div>
      <div class="card mb-3">
        <div class="card-header">Header</div>
        <div class="list-group list-group-flush">
            <a href="#" class="list-group-item list-group-item-action">First item</a>
            <a href="#" class="list-group-item list-group-item-action">Second item</a>
            <a href="#" class="list-group-item list-group-item-action">Third item</a>
          </div>
        <div class="card-footer">Footer</div>
      </div>
</div>