<div xmlns:th="http://www.thymeleaf.org" class="nn-header" >
    <!-- <div th:fragment="header">header</div> -->
    <nav class="navbar" id="grad1">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" alt="" width=15% height=15% class="d-inline-block align-text-top">
                
            </a>
            <ul class="nav nn-lang " style="color: aliceblue;">
                <li class="nav-item" >
                    <a class="nav-link" href="#">english</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tiếng việt</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account/signup">sign-up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/security/login/form">sign-in</a>
                </li>

            </ul>
            <form action="/product/search" class="nn-search">
              
                <div class="input-group">
                  <input name="keyword" class="form-control" placeholder="keywords">
                  <i class='bx bx-search bx-md'></i>

                </div>
              </form>
        </div>
    </nav>
</div>