<nav xmlns:th="http://www.thymeleaf.org">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="menu">

        <div class="container-fluid">
          <!-- Links -->
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Trang chủ</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="/product/discount">Khuyến mãi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product/best-seller">Bán chạy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product/latest">Mới nhập</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product/likes">Yêu thích</a>
              </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Tài khoản</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/about">Giỏ hàng</a>
            </li>
           
          </ul>
        </div>

        
      
      </nav>
</nav>