<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/shared/layout::dynamic(~{::view})}">
<main th:fragment="view">
	<script src="/js/authorize.js"></script>
    <h3>Authorization</h3>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
            	<th></th>
                <th th:each="r: ${roles}" th:text="${r.name}" class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="u: ${users}">
            	<td th:text="${u.username}"></td>
                <td th:each="r: ${roles}" class="text-center">
                	<input type="checkbox" 
                		th:value="@{|${u.username}-${r.id}|}"
                		th:checked="${@authorize.isInRole(u, r)}">
                </td>
            </tr>
        </tbody>
    </table>
</main>

</html>